/* My Styling */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    display: grid;
    justify-content: center;
    align-items: center;
}

img {
    margin-top: -15em;
}

#text {
    font-family: 'Press Start 2P';
    font-kerning: 20px;

    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}